
# --- Не грузить локальные секреты:
.env

# --- Docker volumes/folders:
db_data/
redis_data/
backend/__pycache__/
frontend/node_modules/
frontend/.next/
build/
dist/

# --- Python cache, system files:
__pycache__/
*.pyc
*.pyo
venv/
staticfiles/
media/
.idea/
.vscode/
*.sql
*.backup

# --- Logs:
*.log

# --- OS-specific
.DS_Store
Thumbs.db

db_backup.sql/